<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "AirBnb Static Clone",flats_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Add Flat", new_flat_path, class: "pull-right" %></li>
      <li><%= link_to "Search", flats_path, class: "pull-right" %></li>
    </ul>
  </div>
</nav>
